/*CardList.css*/


.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .card {
    background-color: #212121;
    color: #fefefe;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 20px;
  }
  
  .card-content {
    margin-bottom: 15px;
  }
  
  .card p {
    margin: 5px 0;
  }
  
.card button {
    background-color: #212121;
    color: #fefefe;
    border: 1px solid #fff; 
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  

  