
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  /* background-color: #101113; */
  font-family: 'Montserrat', sans-serif;
  margin: 40px;
}

.form-container {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-image: linear-gradient(#646bf3, #ffffff) 10;
  border-width: 0.1px;
  border-style: solid;
  opacity: 0; 
  transform: perspective(1000px) rotateY(-90deg); 
  animation: form-flip-in 0.8s cubic-bezier(0.23, 1, 0.32, 1) forwards; 
}

@keyframes form-flip-in {
  0% {
    opacity: 0;
    transform: perspective(1000px) rotateY(-90deg);
  }
  80% {
    opacity: 1;
    transform: perspective(1000px) rotateY(10deg);
  }
  100% {
    opacity: 1;
    transform: perspective(1000px) rotateY(0deg);
  }
}


/* For mobile */
@media screen and (max-width: 600px) {
  .form-container {
    max-width: 90vw;
    padding: 20px;
  }
}


.form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: rgb(100, 106, 243);
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  /* color: #fefefe; */
}

.form-container .MuiFormControl-root {
  margin-bottom: 20px;
}

.form-container .MuiButton-root {
  margin-top: 20px;
}

.form-container .MuiSelect-root {
  color: rgb(100, 106, 243);
}

.form-container .MuiInputBase-root {
  color: rgb(100, 106, 243);
}

.form-container .MuiOutlinedInput-root {
  border-color: rgb(100, 106, 243);
}

.form-container .MuiInputLabel-root {
  color: rgb(100, 106, 243);
}

.delete {
  /* color: #ffffff; */
  background: linear-gradient(to right, #646bf3, #ffffff); 
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete:hover {
  background: linear-gradient(to right, #ffffff, #646bf3); 
}

.delete span{
  font-size: small;
}




.btn {
  width: 150px;
  height: 35px;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
 }
 
 .btn:hover {
  color: black;
 }
 
 .btn:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
 }
 
 .btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }


 /* App.css */
.app-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cards-wrapper {
  flex: 1; 
  max-height: 95vh; 
  overflow-y: auto; 
  overflow-x: hidden;
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px; 
/* Custom scrollbar */
  scrollbar-width: thin;
}
.cards-wrapper::-webkit-scrollbar {
  width: 8px; 
}

.cards-wrapper::-webkit-scrollbar-thumb {
  border-radius: 6px; 
}



.card {
  position: relative;
  width: 370px;
  height: 250px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 18px;
  /* color: #fefefe; */
  animation: fadeIn 0.5s ease forwards;
}


.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 360px;
  height: 240px;
  z-index: 2;
  border-radius: 10px;
  overflow: hidden;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 370px;
  height: 250px;
  border-radius: 50%;
  background-color: rgb(100, 106, 243);
  opacity: 0.2;
  animation: blob-bounce 5s infinite ease;
}

.card-content {
  position: relative;
  z-index: 3;
}





@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }
  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }
  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }
  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

